*{
    margin: 0;
    padding: 0;
    user-select: none;
    line-height: 150%;
}

#main-grid{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: lightgrey;
    width: 100%;
}
#header{
    background-color: black;
    position: fixed;
    width: 100%;
}
#header-double-agent{
    background-color: black;
    width: 100%;
}
.navbar{
    display: inline;
    margin: 1%;
    padding: 1%;
    background-color: rgb(43, 37, 37);
    font-size: x-large;
    float: left;
    border-radius: 15%;				
}
.navbar:hover{
    background-color: rgb(141, 135, 135);
}
.navbar a{
    text-decoration: none;
    color: white;
}
.active {
      background-color: #04AA6D;
}
#footer{
    background-color: darkgray;
    width: 100%;
    font-style: italic;
    text-align: center;
}
.sidebar{
    background-color: antiquewhite;
}

.smallprint{
    font-size: small;
    font-style: italic;
}
.title{
    font-size: xx-large;
    font-style: bolder;
    text-align: center;
}
.text{
    padding: 1%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }